<div class="flex min-h-full flex-col justify-center pb-40 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: login_path, method: :post, data: {turbo: false} do |f| %>
      <div>
        <%= f.label :shop, "Your Shopify Store Domain:", class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.text_field :shop, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="mt-3">
        <%= f.submit "Log in with Shopify", class: "flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
